html{height:100%;}
body {
    background-color:#666;
/*background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);*/

}
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
    font-family: 'Days One', sans-serif;


}
.rain{
  height:100%;
  width:100%;
}
.drop {
  /*background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(255,255,255,0.6) ), to(rgba(0,255,255))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);*/
  background-color: #325C74;
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall 3.93s linear infinite;
  -moz-animation: fall 3.93s linear infinite;

}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}

#top{
  height:150px;
}
#mid{
  height:450px;
}
#scoreboard{
  float:right;
  text-align: center;
  color:white;
  font-size: 25px;
  padding:25px;
}

#character1{
  border:1px solid #666;
  height:35px;
  width:35px;
  position:absolute;
  top:50%;
}

.center{
  margin-left: auto;
  margin-right: auto;
}
